/* Main navigation bar styles */
.navbar {
  background-color: #7469B6; /* Background color */
  color: white;
  padding: 20px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow for depth */
  position: sticky; /* Makes the navbar sticky */
  top: 0; /* Sticks the navbar to the top */
  width: 100%; /* Full width */
  z-index: 100; /* Ensures it stays above other content */
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px; /* Limit the max width */
  margin: 0 auto; /* Center the navbar content */
}

.navbar-brand {
  font-size: 35px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.navbar-menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-item {
  margin-left: 20px;
}

.navbar-link {
  color: white;
  
  font-size: 18px;
  padding: 5px 10px;
  transition: color 0.3s ease; 
  margin-right: 30px;/* Smooth transition for hover effect */
}

.navbar-link:hover {
  color: #fffefe; 

 
}

/* Responsive styles */
@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-item {
    margin-left: 0;
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .navbar-brand {
    font-size: 20px;
  }

  .navbar-link {
    font-size: 16px;
  }
}
